{% extends 'store/navbar.html' %}

{% block title %} {{ config.name }} {% endblock %}

{% block style %} 
{{ block.super }}
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>
{% endblock %}

{% block logo %}{{ config.logo_url }}{% endblock %}

{% block navbar_title%} {{ config.name }} {% endblock %}

{% block body %}

<br/><br/><br/>

<div style="text-align: center;">
    <h1>{{ config.name }}</h1>
    <br/><br/>

    <figure>
        <img src="{{ config.logo_url }}" alt="Logo">
    </figure>
    <br/><br/>

    <h3>{% if language == 'ca' %}Sobre nosaltres{% else %}Sobre nosotros{% endif %}</h3>
    <p>{{ config.about_us | safe }}</p>  
    <br/><br/>
    
    <h3>{% if language == 'ca' %}La nostra adreça{% else %}Nuestra dirección{% endif %}</h3>
    <p>{{ config.address | safe }}</p>
    <br/><br/>

    <h3>{% if language == 'ca' %}Contacte amb nosaltres{% else %}Contacta con nosotros{% endif %}</h3>
    <p>
        <b>Tel.</b> {{ config.phone }}<br/>
        <b>eMail.</b> <a href = "mailto: {{ config.email }}">{{ config.email }}</a>
    </p>
    <br/><br/>

</div>

{% endblock %}