{% extends 'base/base.html' %}

{% block title %}{{ block.super }} {% endblock %}

{% block style %}
{{ block.super }}
{% endblock %}

{% block navbar %} 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <figure style="height: 25px">
        <img src="{% block logo %}{% endblock %}" alt="" style="height: 100%; margin-right: 20px; margin-top: 10px;">
      </figure>
      <a class="navbar-brand" href="/">{% block navbar_title%}{{ config.name }}{% endblock %}</a>

      <!-- Mobile button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Menú -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">{% if request.LANGUAGE_CODE == 'ca' %}Categories{% else %}Categorias{% endif %}</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/aboutus/' %}active{% endif %}" href="/aboutus">{% if request.LANGUAGE_CODE == 'ca' %}Qui som{% else %}Quienes somos{% endif %}</a>
          </li>
        </ul>

        <!-- Search
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
      </div>
    </div>
  </nav>
{% endblock %}


{% block body %}
{{ block.super }} 
{% endblock %}


{% block foot %} 
  <h3 class="text-center p-2 pt-3 fw-lighter">{{ config.name }}</h3>
  <h3 class="text-center p-1"><i class="fa-brands fa-square-facebook"></i></h3>
  <p class="text-center p-1 pb-4 fw-lighter">© 2024, Lang: {{ request.LANGUAGE_CODE }}</p>
{% endblock %}