<style>
  .card-panel-div {
    display:flex; 
    justify-content:space-around;
  }
  .card-panel {
    width: 18rem; margin: 3px;
  }

  @media only screen and (max-width: 800px) {
    .card-panel-div {
      flex-wrap: wrap;
    }
    .card-panel {
      max-width: 47%;
    }
  }
</style>

<div> <!-- class="alert alert-light" role="alert" -->
  <h3>{{ objects.name }}</h3>
  <br />

  <div class="card-panel-div">
    {% for panelcategories in objects.categories %}
    <div class="card card-panel">
      {% if panelcategories.link %}<a href="{{ panelcategories.link}}">{% endif %}
        {% if panelcategories.image %}
          <img src="{{ panelcategories.image.url }}" class="card-img-top" alt="...">
        {% endif %}
      {% if panelcategories.link %}</a>{% endif %}
      <div class="card-body">
        <h5 class="card-title">
          {{ panelcategories.name }}
        </h5>
      </div>
    </div>
    {% endfor %}
  </div>
</div>