<!-- Product Card -->
<div> <!-- class="alert alert-light" role="alert" -->
  <h3>{{ objects.name }}</h3>
  <br />

  <div class="product-panel-div">
    {% if objects.image %}
      <img src="{{ objects.image.url }}" class="card-img-top" alt="...">
    {% endif %}
    {% for panelproducts in objects.products %}
    <div class="card card-product">

      <!-- Imatge del producte -->
      {% if panelproducts.image %}
        <a href="{% url 'store:product' panelproducts.id %}">
          <img src="{{ panelproducts.image.url }}" class="card-img-top" alt="...">
        </a>
      {% endif %}

      <!-- Informació del producte -->
      <div class="card-body">
        <h5 class="card-title">
          {{ panelproducts.name }}
        </h5>
        <p>{{ panelproducts.description }}</p>
        {% if panelproducts.discount_percentage == 0 %}
          <h6 style="font-size: 1.3em; font-weight: bold;">{{ panelproducts.pvp }} €</h6>
        {% else %}
          <h6 style="font-size: 1.3em; font-weight: bold; color: brown">
            {{ panelproducts.new_price }} €
            <span style="font-size: 0.7em; font-weight: lighter; color: #666">
              PVPR: 
              <span style="text-decoration:line-through;">
                {{ panelproducts.pvp }} €
              </span>
            </span>
          </h6>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>